@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 60 11% 96%;
    --foreground: 165 33% 17%;

    --card: 0 0% 100%;
    --card-foreground: 165 33% 17%;

    --popover: 0 0% 100%;
    --popover-foreground: 165 33% 17%;

    --primary: 165 33% 17%;
    --primary-foreground: 0 0% 100%;

    --secondary: 110 22% 29%;
    --secondary-foreground: 0 0% 100%;

    --muted: 60 11% 94%;
    --muted-foreground: 165 20% 40%;

    --accent: 47 69% 51%;
    --accent-foreground: 165 33% 17%;

    --highlight: 63 43% 39%;

    --brand-red: 1 56% 42%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 165 15% 85%;
    --input: 165 15% 90%;
    --ring: 165 33% 17%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 165 33% 12%;
    --foreground: 60 11% 96%;

    --card: 165 30% 15%;
    --card-foreground: 60 11% 96%;

    --popover: 165 30% 15%;
    --popover-foreground: 60 11% 96%;

    --primary: 110 22% 35%;
    --primary-foreground: 0 0% 100%;

    --secondary: 165 25% 25%;
    --secondary-foreground: 60 11% 96%;

    --muted: 165 25% 20%;
    --muted-foreground: 60 10% 70%;

    --accent: 47 69% 51%;
    --accent-foreground: 165 33% 17%;

    --highlight: 63 43% 39%;

    --brand-red: 1 56% 42%;

    --destructive: 0 62.8% 50%;
    --destructive-foreground: 60 11% 96%;

    --border: 165 25% 25%;
    --input: 165 25% 25%;
    --ring: 110 22% 35%;
    --sidebar-background: 165 33% 12%;
    --sidebar-foreground: 60 11% 96%;
    --sidebar-primary: 110 22% 35%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 165 25% 20%;
    --sidebar-accent-foreground: 60 11% 96%;
    --sidebar-border: 165 25% 25%;
    --sidebar-ring: 110 22% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
